<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>보낸 메일함</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">@</span> Genie_Email
                </a>
            </div>


    <header class="intro">
        
    <div class="intro-body">
        <div class="container">

            <div class="col-md-8 col-md-offset-2">
                <h1>보낸 메일함</h1>
                
                <div style="text-align:left; width:100%; height:550px; overflow:auto">
                    <% @every_sendmail.each do |e| %>
                    
                    받는사람 : <%= e.emailto %> <br>
                    제    목 : <%= e.title %> <br>
                    내    용 : <%= e.content %> <br>
                    보낸시간 : <%= e.created_at %>
                    <div style="text-align:right;">
                        <a href="/update_view/<%= e.id %>">[수정]</a>
                        <a href="/destroy/<%= e.id %>">[삭제]</a>
                    </div>
                    <hr>
                    <% end %>
                </div>
                
                <a href="/" button type="submit" class="btn btn-default" style="margin-top:20px">다시 보내기</a>
                        
            </div>
        </div>
    </div>    
